################################################################################
# Necessary packages
################################################################################
gitpython
numpy >= 1.23

# used for query available memory
psutil

# used for print table
tabulate

# show progress bar
tqdm

# used to annotate the scope of events in host process, which can be visualized
# in Nsight System.
nvtx

# for print python ast node
astunparse

# for command line interface
click

# for package version check
packaging

requests

# for filestore
filelock

# for cuda runtime api and runtime compilation api
cuda-python >= 11.6.1

# for parser
lark

# for configuration
tomlkit

# for performance measurements
scipy

