# python test
pytest

# for models to test
--extra-index-url https://download.pytorch.org/whl/cu116
torch
--extra-index-url https://download.pytorch.org/whl/cu116
torchvision
transformers

# check the correctness with onnxruntime
onnxruntime-gpu
