################################################################################
# Necessary packages
################################################################################
gitpython
numpy
sympy

# used for query available memory
psutil

# used for print table
tabulate

# python tests
pytest

# show progress bar
tqdm

# used to annotate the scope of events in host process, which can be visualized
# in Nsight System.
nvtx

# for onnx frontend
onnx==1.10.2

################################################################################
# Optional packages
################################################################################
--extra-index-url https://download.pytorch.org/whl/cu115
torch==1.11
torchvision==0.12

# for language model converting
transformers==4.19.2
transformers[onnx]

# for onnx runtime baseline
onnxruntime-gpu==1.11.1

# for tensor rt baseline
--extra-index-url https://pypi.ngc.nvidia.com
nvidia-tensorrt==8.2.5.1

tensorflow
tensorflow-addons
git+https://github.com/onnx/onnx-tensorflow@v1.7.0-tf-1.15

# for tvm tuning
decorator
xgboost==1.5.0
tornado
cloudpickle
