---
BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
ColumnLimit: 120

# Right-aligned pointers/references, don't automatically determine on a
# per-file basis
DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Pointer

# Grouping of imports: standard imports first, don't group
IncludeBlocks: Merge
IncludeCategories:
  - Regex:       '^<.*\.h>'
    Priority:    2
  - Regex:       '^<.*>'
    Priority:    1
  - Regex:       '^".*"'
    Priority:    3

# Misc
AllowShortFunctionsOnASingleLine: Inline
SpaceAfterTemplateKeyword: false
SpaceBeforeInheritanceColon: false