name: Format & Lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  format-and-lint:
    if: github.repository == 'hidet-org/hidet' || github.repository == 'CentML/hidet'
    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          # To install flash-attention in host without nvcc/cuda available
          # https://github.com/Dao-AILab/flash-attention/issues/509
          export FLASH_ATTENTION_SKIP_CUDA_BUILD=TRUE
          python -m pip install --upgrade pip
          sudo apt-get update
          sudo apt-get install clang-format graphviz graphviz-dev
          pip install .[dev]
      - name: Format with black
        run: |
          # stop the build if format is not correct
          echo "Running with " $(pip freeze | grep "black")
          python -m black --skip-string-normalization --skip-magic-trailing-comma --line-length 120 --check ./python/hidet ./tests
      - name: Lint with pylint
        run: |
          echo "Running with" $(pip freeze | grep "pylint")
          python -m pylint --rcfile ./scripts/lint/pylintrc -j $(nproc) ./python/hidet
      - name: Format with clang-format
        run: |
          echo "Running with" $(clang-format --version)
          find ./src ./include -iname '*.h' -o -iname '*.cpp' \
          | xargs clang-format -style=file:scripts/lint/.clang-format --dry-run -Werror
