name: Tests

on:
  push:
    branches: [main]

  pull_request:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:

  build-docs:
    if: github.repository == 'CentML/hidet' || github.repository == 'hidet-org/hidet'
    runs-on: arc-runner-set
    container:
      image: nvcr.io/nvidia/pytorch:24.04-py3
      options: --gpus all
    steps:
      - name: Install dependencies via apt
        run: |
          apt update && DEBIAN_FRONTEND=noninteractive apt install -y ccache git graphviz

      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.13
        with:
          cmake-version: '3.19.x'

      - name: Setup Hidet
        uses: ./.github/actions/setup-hidet
  
      - name: List installed packages
        run: |
          pip list

      - name: Install docs dependencies
        run: |
          pip install -r docs/requirements.txt

      - name: Build docs
        run: |
          cd docs; make clean; make html

  list-test-dirs:
    if: github.repository == 'CentML/hidet' || github.repository == 'hidet-org/hidet'
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:

      - name: Checkout Hidet
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"

      - id: set-matrix
        run: |
          python .github/scripts/set_test_matrix.py
          
  run-test:
    needs: list-test-dirs
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.list-test-dirs.outputs.matrix) }}
    runs-on: arc-runner-set
    container:
      image: nvcr.io/nvidia/pytorch:24.04-py3
    steps:
      - name: Install dependencies via apt
        run: |
          apt update && DEBIAN_FRONTEND=noninteractive apt install -y ccache git graphviz

      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '3.19.x'

      - name: Setup Hidet
        uses: ./.github/actions/setup-hidet
  
      - name: List installed packages
        run: |
          pip list

      # Run tests
      - name: Run tests
        run: |
          rm -rf ~/.config/hidet
          python -m pytest -v --durations=20 --clear-cache ${{ matrix.path }}

  final-status-indicator:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: Pass All Functional Tests
    needs: [run-test]
    steps:
      - run: exit 1
        if: >-
          ${{
               contains(needs.*.result, 'failure')
            || contains(needs.*.result, 'cancelled')
            || contains(needs.*.result, 'skipped')
          }}